@model NewsSite.Models.Article

@{
    ViewData["Title"] = "Create";
}
<style>
    #SelectedFiles img, #UnselectedFiles img {
        width:50px;
        cursor:pointer;
    }
    #SelectedFiles img:hover, #UnselectedFiles img:hover {
        width:125px;
    }

    .tagContainer {
    border:solid 1px #ccc;
    padding:15px;
    border-radius:5px;
    margin-top:15px;
    }
</style>
<h2>New Article</h2>
<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" onblur="copyValues('Title', 'URL', true); copyValues('Title', 'OGTitle', false);" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="URL" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="URL" class="form-control" onchange="formatFileName('URL');" />
                <span asp-validation-for="URL" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Body" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Body" class="form-control"></textarea>

                <div class="alert alert-info" role="alert" style="margin-top:15px;">
                    <p><strong>The following text will be automatically added to each article:</strong></p>
                    <p><em>Established in 1890, Savannah State University is the oldest public historically black college or university in Georgia and the oldest institution of higher learning in the city of Savannah. The university's 4,900 students select majors from 27 undergraduate and five graduate programs in three colleges - Liberal Arts and Social Sciences, Business Administration and Sciences and Technology - and the School of Teacher Education.</em></p>
                </div>

                
                <span asp-validation-for="Body" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger" />
            </div>
        
            <label asp-for="EndDate" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Tags</label>
            <div class="col-md-10">
                <input type="hidden" asp-for="ArticleTags" class="form-control" value="," />
                
                <div id="SelectedTags" class="tagContainer">
                    <h5>SELECTED TAGS</h5> <em>click on available tags below to add</em><br/>
                </div>
                <div class="availabletags tagContainer" >
                    <h5>AVAILABLE TAGS</h5>
                    <div id="UnselectedTags">
                        @foreach (var tag in ViewBag.tags)
                        {
                            <div class="btn btn-sm btn-default tag-btn" data-tag="@tag.TagId">@tag.TagName</div>
                        }
                    </div>
                    <div class="input-group" style="margin-top:15px;">
                        <input type="text" id="newTag" class="form-control" placeholder="Add New Tag" />
                        <div class="input-group-btn">
                            <div id="btnAddTag" class="btn btn-default">Add</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="OGTitle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OGTitle" class="form-control" />
                <span asp-validation-for="OGTitle" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OGDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OGDescription" class="form-control" />
                <span asp-validation-for="OGDescription" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OGImage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="OGImage" class="form-control">
                    @foreach (var mediaFile in ViewBag.mediaFiles)
                    {
                        <option value="@mediaFile.URL">@mediaFile.Description</option>
                    }
                </select>
                <span asp-validation-for="OGImage" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Media Kit Files</label>
            <div class="col-md-10">
                <input type="hidden" id="ArticleMediaKitFiles" class="form-control" value="," />

                <div id="SelectedFiles" class="tagContainer">
                    <h5>SELECTED FILES</h5> <em>click on available files below to add</em><br />
                </div>
                <div class="tagContainer">
                    <h5>AVAILABLE FILES</h5>
                    <div id="UnselectedFiles">
                        @foreach (var mediaFile in ViewBag.mediaFiles)
                        {
                            @if (mediaFile.MediaType.ToLower() == "image")
                            {
                                <img class="file-btn" data-tag="@mediaFile.MediaKitFileId" src="~/mediakitfiles/@mediaFile.URL" />
                            }
                            else
                            {
                                <div class="btn btn-default file-btn" data-tag="@mediaFile.MediaKitFileId">@mediaFile.URL</div>
                            }
                        }
                    </div>
                    <br/>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#fileModal" style="margin-top:15px;">
                        Upload New File
                    </button>

                </div>
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-lg btn-success" />
            </div>
        </div>
    </div>
</form>




<div class="modal fade" tabindex="-1" role="dialog" id="fileModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Media Kit Files</h4>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    <h3>Upload New File</h3>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">File</label>
                            <div class="col-md-10">
                                <input type="file" id="files" multiple class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Filename</label>
                            <div class="col-md-10">
                                <input type="text" id="url" class="form-control" onchange="formatFileName('url');" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Alt Text</label>
                            <div class="col-md-10">
                                <textarea id="altText" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Caption</label>
                            <div class="col-md-10">
                                <textarea id="Description" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">File Type</label>
                            <div class="col-md-10">
                                <select id="MediaType" class="form-control">
                                    <option value="image">Image</option>
                                    <option value="word">Word Document</option>
                                    <option value="pdf">PDF</option>
                                    <option value="spreadsheet">Spreadsheet</option>
                                    <option value="ppt">Presentation</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Author</label>
                            <div class="col-md-10">
                                <select id="OwnerId" class="form-control">
                                    @foreach (var owner in ViewBag.owners)
                                    {
                                        <option value="@owner.OwnerId">@owner.Name</option>
                                    }
                                </select>
                                <br/>
                                <div id="openNewOwner" class="btn btn-default">Add New Author</div>



                                <div id="newOwner" style="display:none;">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Name</label>
                                        <div class="col-md-10">
                                            <input type="text" id="ownerName" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Address</label>
                                        <div class="col-md-10">
                                            <input type="text" id="address" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Email</label>
                                        <div class="col-md-10">
                                            <input type="email" id="email" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Phone</label>
                                        <div class="col-md-10">
                                            <input type="tel" id="phone" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Social Media</label>
                                        <div class="col-md-10">
                                            <input type="text" id="socialMedia" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Website</label>
                                        <div class="col-md-10">
                                            <input type="url" id="website" class="form-control" />
                                        </div>
                                    </div>
                                    <div id="btnCancelNewOwner" class="btn btn-default">Cancel</div>
                                </div>


                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Copyright Date</label>
                            <div class="col-md-10">
                                <input class="form-control" type="date" id="copyrightDate" name="copyrightDate" value="">
                            </div>
                        </div>

                        

                        <div class="form-group">
                            <label class="col-md-2 control-label">Tags</label>
                            <div class="col-md-10">
                                <input type="hidden" id="FileTags" class="form-control" value="," />

                                <div id="SelectedFileTags"  class="tagContainer">
                                    <h5>SELECTED TAGS</h5> <em>click on available tags below to add</em><br />
                                </div>
                                <div  class="availabletags" style="border:solid 1px #ccc;padding:15px;border-radius:5px;margin-top:15px;">
                                    <h5>AVAILABLE TAGS</h5>
                                    <div id="UnselectedFileTags">
                                        @foreach (var tag in ViewBag.tags)
                                        {
                                            <div class="btn btn-sm btn-default file-tag-btn" data-tag="@tag.TagId">@tag.TagName</div>
                                        }
                                    </div>
                                    <div class="input-group" style="margin-top:15px;">
                                        <input type="text" id="newFileTag" class="form-control" placeholder="Add New Tag" />
                                        <div class="input-group-btn">
                                            <div id="btnAddFileTag" class="btn btn-default">Add</div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="button" id="upload" value="Upload File" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/tags.js"></script>
<script>
    
    var images = {};
    $.ajax({
        type: "GET",
        url: "/MediaKitFiles/GetAllFiles",
        contentType: false,
        processData: false,
        success: function (message) {
            
            images = message;
            tinymce.init({
                selector: '#Body',
                height:"300",
                plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'save contextmenu directionality template paste textcolor'
                ],
                toolbar: ['undo redo | styleselect | bold italic | image', 'alignleft aligncenter alignright'],
                image_list: images
            });


            
            var mySelect = $('#OGImage');
            


        },
        error: function () { alert("There was error uploading files!"); }
    });

  
</script>
