@model NewsSite.Models.MediaKitFile

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MediaKitFile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MediaType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MediaType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ThumbnailURL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThumbnailURL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MediaKitFileId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
