@model NewsSite.Models.MediaKitFileViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Media Kit File</h1>

<div class="form-horizontal">
    <form method="post" enctype="multipart/form-data">
        <div class="form-horizontal">
            <input type="hidden" asp-for="MediaKitFileId" />
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <div class="checkbox">
                        <input asp-for="Enabled" />
                        <label asp-for="Enabled"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">File</label>
                <div class="col-md-9">
                    @Html.Raw(Model.IconURL)
                    <label control-label">Replace File</label>
                    <input type="file" class="form-control" id="files" name="files" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="URL" class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <input asp-for="URL" class="form-control" onchange="formatFileName('URL');" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AltText" class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <input asp-for="AltText" class="form-control" />
                    <span id="altTextError" class="text-danger error">Alt text is required.</span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <input asp-for="Description" class="form-control" />
                    <span id="descriptionError" class="text-danger error">Caption is required.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Author</label>
                <div class="col-md-9">
                    <select id="OwnerId" class="form-control">
                        @foreach (var owner in ViewBag.owners){
                            @if (owner.OwnerId == Model.Owner.OwnerId)
                            {
                                <option selected="selected" value="@owner.OwnerId">@owner.Name</option>
                            }
                            else
                            {
                                <option value="@owner.OwnerId">@owner.Name</option>
                            }
                        }
                    </select>
                    <br />
                    <div id="openNewOwner" class="btn btn-default">Add New Author</div>



                    <div id="newOwner" style="display:none;">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Name</label>
                            <div class="col-md-10">
                                <input type="text" id="ownerName" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Address</label>
                            <div class="col-md-10">
                                <input type="text" id="address" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Email</label>
                            <div class="col-md-10">
                                <input type="email" id="email" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Phone</label>
                            <div class="col-md-10">
                                <input type="tel" id="phone" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Social Media</label>
                            <div class="col-md-10">
                                <input type="text" id="socialMedia" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Website</label>
                            <div class="col-md-10">
                                <input type="url" id="website" class="form-control" />
                            </div>
                        </div>
                        <div id="btnCancelNewOwner" class="btn btn-default">Cancel</div>
                    </div>


                </div>
            </div>
            <div class="form-group">
                <label asp-for="CopyrightDate" class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <input asp-for="CopyrightDate" class="form-control" />
                    <span id="copyrightDateError" class="text-danger error">Copyright date is required.</span>
                </div>
            </div>



            <div class="form-group">
                <label class="col-md-3 control-label">Tags</label>
                <div class="col-md-9">
                    <input type="hidden" id="FileTags" class="form-control" value="@ViewBag.selectedTagIds" />

                    <div id="SelectedFileTags" class="tagContainer">
                        <h5>SELECTED TAGS</h5> <em>click on available tags below to add</em><br />
                        @foreach (var tag in Model.TagNames)
                        {
                            <div class="btn btn-sm btn-default file-tag-btn" data-tag="@tag.Id">@tag.Name</div>
                        }
                    </div>
                    <span id="FileTagsError" class="text-danger error">At least one tag is required.</span>
                    <div class="availabletags" style="border:solid 1px #ccc;padding:15px;border-radius:5px;margin-top:15px;">
                        <h5>AVAILABLE TAGS</h5>
                        <div id="UnselectedFileTags">
                            @foreach (var tag in ViewBag.tags)
                            {
                                <div class="btn btn-sm btn-default file-tag-btn" data-tag="@tag.TagId">@tag.TagName</div>
                            }
                        </div>
                        <div class="input-group" style="margin-top:15px;">
                            <input type="text" id="newFileTag" class="form-control" placeholder="Add New Tag" />
                            <div class="input-group-btn">
                                <div id="btnAddFileTag" class="btn btn-default">Add</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="button" id="editMediaFile" value="Save" class="btn btn-success" />
                    <a class="btn btn-default" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/tags.js"></script>