@model IEnumerable<NewsSite.Models.MediaKitFileViewModel>

@{
    ViewData["Title"] = "Index";
}
<style>
    .mediakitFileWrapper {
        height: 500px;
        width: 30%;
        float: left;
        margin-top: 1%;
        margin-left: 1%;
        border: solid 1px #ccc;
        padding: 15px;
    }

        .mediakitFileWrapper img {
            max-height: 200px;
            margin: 0 auto;
        }

        .mediakitFileWrapper p {
            margin-top: 10px;
        }
</style>
<h2>Media Kit Files</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>


<div class="clearfix" id="mediaKitFiles">
    @foreach (var mediaKitFile in Model)
    {
        <div class="mediakitFileWrapper">
            @Html.Raw(mediaKitFile.IconURL)
            <p>
                <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@mediaKitFile.MediaKitFileId">Edit</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@mediaKitFile.MediaKitFileId">Delete</a>
                <br />
                @mediaKitFile.Description<br />
                &copy; @mediaKitFile.CopyrightDate.ToString("yyyy")<br/>
                <strong>Author</strong><br/>
                <a class="btn btn-default" asp-controller="Owners" asp-action="Details" asp-route-id="@mediaKitFile.Owner.OwnerId">@mediaKitFile.Owner.Name</a>
                <hr />
                <strong>tags</strong><br />
                @foreach (var tag in mediaKitFile.TagNames)
                {
                    <div class="btn btn-sm btn-default">@tag.Name</div>
                }
            </p>
        </div>
    }
</div>

