@model NewsSite.Models.Owner

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SocialMedia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SocialMedia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.OwnerId">Edit</a>
    <a class="btn btn-default" asp-action="Index">Back to List</a>
</div>
<hr/>
<h3>Media Kit Files</h3>
<div class="clearfix"  >
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#fileModal" style="margin-bottom:15px;">
        Upload New File
    </button>
    <div class="clearfix" id="mediaKitFiles">
        @foreach (var mediaKitFile in ViewBag.mediaKitFiles)
        {
            <div class="mediakitFileWrapper">
                @Html.Raw(mediaKitFile.IconURL)
                <p>
                    <a title="download" class="btn btn-sm btn-success" href="~/mediakitfiles/@mediaKitFile.URL" target="_blank"><i class="glyphicon glyphicon-cloud-download"></i></a>
                    <a title="edit" class="btn btn-sm btn-info" href="~/MediaKitFiles/Edit/@mediaKitFile.MediaKitFileId"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a title="delete" class="btn btn-sm btn-danger" href="~/MediaKitFiles/Delete/@mediaKitFile.MediaKitFileId"><i class="glyphicon glyphicon-trash"></i></a>
                    <br/>
                    @mediaKitFile.Description<br />
                    &copy; @mediaKitFile.CopyrightDate.ToString("yyyy")
                    <hr />
                    <strong>tags</strong><br/>
                    @foreach (var tag in mediaKitFile.TagNames)
                    {
                        <div class="btn btn-sm btn-default">@tag.Name</div>
                    }
                </p>
            </div>
        }
        </div>
    </div>


<div class="modal fade" tabindex="-1" role="dialog" id="fileModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Media Kit Files</h4>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    <h3>Upload New File</h3>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label">File</label>
                            <div class="col-md-9">
                                <input type="file" id="files" multiple class="form-control" onchange="checkFile();" />
                                <span id="filesError" class="text-danger error">File is required.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Filename</label>
                            <div class="col-md-9">
                                <input type="text" id="url" class="form-control" onchange="formatFileName('url');" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Alt Text</label>
                            <div class="col-md-9">
                                <textarea id="altText" class="form-control"></textarea>
                                <span id="altTextError" class="text-danger error">Alt text is required.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Caption</label>
                            <div class="col-md-9">
                                <textarea id="Description" class="form-control"></textarea>
                                <span id="descriptionError" class="text-danger error">Caption is required.</span>
                            </div>
                        </div>
                        
                        <input type="hidden" id="OwnerId" name="OwnerId" value="@Model.OwnerId" />
                        <div class="form-group">
                            <label class="col-md-3 control-label">Copyright Date</label>
                            <div class="col-md-9">
                                <input class="form-control" type="date" id="copyrightDate" name="copyrightDate" value="">
                                <span id="copyrightDateError" class="text-danger error">Copyright date is required.</span>
                            </div>
                        </div>
                        


                        <div class="form-group">
                            <label class="col-md-3 control-label">Tags</label>
                            <div class="col-md-9">
                                <input type="hidden" id="FileTags" class="form-control" value="," />

                                <div id="SelectedFileTags" class="tagContainer">
                                    <h5>SELECTED TAGS</h5> <em>click on available tags below to add</em><br />
                                </div>
                                <span id="FileTagsError" class="text-danger error">At least one tag is required.</span>
                                <div class="availabletags" style="border:solid 1px #ccc;padding:15px;border-radius:5px;margin-top:15px;">
                                    <h5>AVAILABLE TAGS</h5>
                                    <div id="UnselectedFileTags">
                                        @foreach (var tag in ViewBag.tags)
                                        {
                                            <div class="btn btn-sm btn-default file-tag-btn" data-tag="@tag.TagId">@tag.TagName</div>
                                        }
                                    </div>
                                    <div class="input-group" style="margin-top:15px;">
                                        <input type="text" id="newFileTag" class="form-control" placeholder="Add New Tag" />
                                        <div class="input-group-btn">
                                            <div id="btnAddFileTag" class="btn btn-default">Add</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="button" id="upload" value="Upload File" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/tags.js"></script>
